{% extends "base.html" %}
{% block body %}
<div class="container">
	<!-- Ruta -->
	<ol class="breadcrumb">
		<li><a href="/marketing">Marketing</a></li>
		<li><a href="/marketing/asesores">Asesores</a></li>
		<li><a href="/marketing/asesores/detalles/{{pk}}">Asesor</a></li>
	</ol>
	<br>
	<h4>Detalles del Asesor</h4>
	<hr>
	<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Datos Generales</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6">
				<p class="lead">Nombre:</p> <p class="info">{{asesor}}</p>
			</div>
			<div class="col-md-6">
				<p class="lead">Email:</p> <p class="info">{{asesor.email}}</p>
			</div>
		</div>
		<br>
		<div class="row">
		{% for telefono in lista_telefonos %}
		<div class="col-md-4">	
			<p class="lead">Teléfono:</p> <p class="info">{{telefono}}</p>
		</div>
		{% endfor %}
		</div>
	</div>
	</div>
</div>
{% endblock %}