{% extends "base.html" %}
{% block body %}
<div class="container">
	<!-- Ruta -->
	<ol class="breadcrumb">
		<li><a href="/marketing">Marketing</a></li>
		<li><a href="/marketing/asesores">Asesores</a></li>
		<li><a href="/marketing/Asesores/Detalles/{{pk}}">Asesor</a></li>
	</ol>
	<br>
	<h4>Detalles del Asesor</h4>
	<hr>
	<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Datos Generales</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			{{asesor.numero}}
		</div>
	</div>
	</div>
</div>
{% endblock %}